{% extends "master.html" %} {% block title %} Author {% endblock title %}
{%block content %}
<div class="row">
  <p>
    I'm a Chemical Engineer, MSc and Data scientist with over 6 years of
    research experience. I started my career as an undergraduate researcher at
    the Biochemical Engineering Laboratory from UFRN/BRAZIL in 2017 while I was
    a Chemical Engineer Bachelor student. Since then, I've been part of many
    biotechnology research projects, such as lactase/ethanol co-production and
    enzyme purification with deep eutectic solvents, which was the subject of my
    undergraduate thesis.
  </p>
  <p>
    Approaching the end of 2019, I started developing expertise in
    Machine Learning and Data Science. In 2021 I completed my bachelor degree
    and started working toward a Chemical Engineering MSc degree also at
    UFRN/BRAZIL. GNNePCSAFT was my MSc project. The goal was to be able to
    advance research on complex species, such as deep eutectic solvents and
    ionic liquids, which is slowed down by the need of costly experimental work.
    GNNePCSAFT provides parameters for the ePC-SAFT EoS, thus allowing to
    predict thermodynamic properties with relative good accuracy. In this
    manner, those species can be extensively and throughly studied with process
    simulators and any other platform that implements the EoS.
  </p>
  <p>
    For any further questions, you can reach out in one of the available social
    medias at the bottom of the page or at the provided email.
  </p>

  <footer>
    <p>
      Author: Wildson B B Lima<br />
      Email: <a href="mailto:wil_bbl@hotmail.com">wil_bbl@hotmail.com</a>
    </p>
  </footer>
</div>

{% endblock content %}
