{% extends "master.html" %}
{% load static %}
{% block title %}
  AI CHAT
{% endblock title %}
{% block content %}
  <div class="col-lg">
    {% if show_form %}
      <form action="" method="post" id="submitGoogleApiKey">
        {% csrf_token %}
        <div class="row my-5 justify-content-center">
          <div class="col-md-6">
            {{ google_api_key_form.google_api_key }}
            <p class="mx-2 my-1">
              You can find more about Gemini API Keys
              <a href="https://ai.google.dev/gemini-api/docs/api-key" target="_blank">here</a>.
              This key is not stored for security reasons. The model <code>gemini-2.0-flash</code> is used.
            </p>
          </div>
          <div class="col-md-6">
            <input type="submit"
                   value="Submit Gemini API Key"
                   class="form-control btn-outline-primary" />
          </div>
        </div>
      </form>
      <div class="row my-1 justify-content-center">
        <ul>
          {% for error in google_api_key_form.google_api_key.errors %}
            <li class="alert alert-danger">{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <div class="row d-flex justify-content-center my-1" id="chatrow">
        <div class="col-md-12">
          <div class="card chat-card-style">
            <div id="chat-log" class="card-body overflow-auto"></div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center" id="formRow">
        <div class="col-lg-8">
          <div class="row my-1 justify-content-center">
            <div class="col-lg-7 my-1">
              <input id="chat-message-input"
                     class="form-control"
                     type="text"
                     placeholder="Write your message here" />
            </div>
            <div class="col-lg-2 my-1">
              <input id="chat-message-submit"
                     type="submit"
                     value="send"
                     class="form-control btn-outline-primary" />
            </div>
            <div class="col-lg-3 my-1">
              <input id="chat-log-save_button"
                     type="submit"
                     value="save chat history"
                     class="form-control btn-outline-primary" />
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  {% if not show_form %}
    <script src={% static "js/chat.js" %}></script>
  {% endif %}
{% endblock content %}
