{% extends "master.html" %} {% block title %}GNNePCSAFT{% endblock title %}
{%block content %}

<div class="row">
  <div class="col-md">
    <p class="text-break">
      GNNePCSAFT is a project focused in the use of graph neural networks to
      estimate pure-component parameters of the Equation of State ePC-SAFT. The
      motivation of this work is to be able to use a robust Equation of State
      without prior need of experimental data. Equations of State are important
      to calculate thermodynamic properties, and are pre-requisite in process
      simulators.
    </p>
  </div>
  <div class="col-md">
    <p class="text-break">
      Currently, the model takes in account only the hard-chain and dispersive
      terms of ePC-SAFT. Future work on associative, polar and ionic terms are
      being considered. Code is being developed mainly in Pytorch (PYG). The
      model was trained with
      <a
        href="https://doi.org/10.1002/aic.17722"
        class="text-decoration-none"
        target="_blank"
        >Ramírez-Vélez et al. (2022)</a
      >
      parametrization data.
      <a
        href="https://doi.org/10.1002/jcc.26842"
        class="text-decoration-none"
        target="_blank"
        >ThermoML Archive</a
      >
      experimental data is used to test the accuracy of the model predictions.
    </p>
  </div>
  <p>
    <small>
      Start estimating
      <a class="text-decoration-none" href="/estimator">here</a>.
    </small>
  </p>
</div>

{% endblock content %}
