<!DOCTYPE html>
{% load static %}
{% load pwa %}
{% load bootstrap5 %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Thermodynamic Modeling with GNNePCSAFT">
    <meta name="keywords" content="HTML, Django, CSS, GNNePCSAFT">
    <meta name="author" content="Wildson B B Lima">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% static 'fontawesomefree/css/brands.css' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    {% bootstrap_css %} {% bootstrap_javascript %}
    {% progressive_web_app_meta %}
    <script src="https://cdn.jsdelivr.net/npm/idb@8/build/umd.js"></script>
    <script src="https://cdn.jsdelivr.net/alasql/0.2/alasql.min.js"></script>
    <script src='/static/js/myidb.js' async></script>
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body class="mt-1">
    <div class="container-fluid bg-light text-dark">
      <ul class="nav bg-dark justify-content-center">
        <li class="nav-item">
          <a class="nav-link link-light" href={% url "estimator" %}>HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href={% url "about" %}>ABOUT</a>
        </li>
        <li class="nav-item" id="installButton"></li>
        <script src="/static/js/install.js" async></script>
      </ul>
      <div class="row">
        {% block content %}
        {% endblock content %}
      </div>
      <div class="row">
        <!-- Remove the container if you want to extend the Footer to full width. -->
        <div class="container my-5">
          <footer class="text-center">
            <!-- Grid container -->
            <div class="container pt-4">
              <!-- Section: Social media -->
              <section class="mb-4">
                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://www.linkedin.com/in/wildsonbbl/"
                   role="button"
                   data-mdb-ripple-color="dark"
                   name="Linkedin"
                   aria-label="Author Linkedin Page"
                   target="_blank"><i class="fab fa-linkedin" alt="Author Linkedin Page"></i></a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://github.com/wildsonbbl"
                   role="button"
                   data-mdb-ripple-color="dark"
                   name="Github"
                   aria-label="Author Github Page"
                   target="_blank"><i class="fab fa-github" alt="Author Github Page"></i></a>
                <!-- ORCID -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://orcid.org/0000-0002-0189-6000"
                   role="button"
                   data-mdb-ripple-color="dark"
                   name="ORCID"
                   aria-label="Author ORCID Page"
                   target="_blank"><i class="fab fa-orcid" alt="Author ORCID Page"></i></a>
              </section>
              <!-- Section: Social media -->
            </div>
            <!-- Grid container -->
          </footer>
        </div>
        <!-- End of .container -->
      </div>
    </div>
  </body>
</html>
