{% extends "master.html" %}
{% load static %}
{% block title %}
  Mixture Mode
{% endblock title %}
{% block content %}
  <div class="col-lg">
    <div class="row justify-content-center" id="formRow">
      <div class="col-md-10">
        <div class="alert alert-success text-center mb-4">
          <h4 class="mb-2">
            <i class="fas fa-vials text-primary"></i> Mixture Parameter Estimation
          </h4>
        </div>
        <form action="" method="post" id="submitQueryPred">
          {% csrf_token %}
          <div class="row justify-content-center">
            <div class="col-sm-6">{{ form.text_area }}</div>
            <div class="col-sm-4">
              <div class="form-control my-2">
                {{ plot_config }}
                <div class="form-check form-switch">{{ binary_vle_checkform }}</div>
                <div class="form-check form-switch">{{ binary_lle_checkform }}</div>
                <div class="form-check form-switch">{{ binary_vlepxy_checkform }}</div>
                <div class="form-check form-switch">{{ ternary_lle_checkform }}</div>
                <div class="form-check form-switch">{{ ternary_vlepx_checkform }}</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-6">
              <input type="submit"
                     value="Analyse SMILES/InChI Mixture"
                     class="form-control btn-outline-primary" />
              {% if output %}
                <button class="form-control my-1 btn-outline-secondary"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#available_exp_data"
                        aria-expanded="true"
                        aria-controls="available_exp_data">Available experimental data</button>
                <div class="collapse" id="available_exp_data">
                  <button class="form-control my-1 btn-outline-secondary"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#rho_exp_data"
                          aria-expanded="true"
                          aria-controls="rho_exp_data">Density experimental data</button>
                  <div class="collapse" id="rho_exp_data">
                    {% for pkpa, x1, count in rho_px_data_b %}
                      <button class="form-control my-1 btn-outline-primary rho-px-data-b-btn"
                              type="button"
                              data-pressure="{{ pkpa }}"
                              data-x="{{ x1 }}">P (kPa) = {{ pkpa }} - x1 = {{ x1 }} - {{ count }} points</button>
                    {% endfor %}
                    {% for pkpa, x1,x2, count in rho_px_data_t %}
                      <button class="form-control my-1 btn-outline-primary rho-px-data-t-btn"
                              type="button"
                              data-pressure="{{ pkpa }}"
                              data-x1="{{ x1 }}"
                              data-x2="{{ x2 }}">P (kPa) = {{ pkpa }} - x = [{{ x1 }}, {{ x2 }}] - {{ count }} points</button>
                    {% endfor %}
                  </div>
                  <button class="form-control my-1 btn-outline-secondary"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#lle_exp_data"
                          aria-expanded="true"
                          aria-controls="lle_exp_data">LLE experimental data</button>
                  <div class="collapse" id="lle_exp_data">
                    {% for pkpa, count in lle_p_data_b %}
                      <button class="form-control my-1 btn-outline-primary lle-p-data-b-btn"
                              type="button"
                              data-pressure="{{ pkpa }}">P (kPa) = {{ pkpa }} - {{ count }} points</button>
                    {% endfor %}
                    {% for pkpa, tk, count in lle_pt_data_t %}
                      <button class="form-control my-1 btn-outline-primary lle-data-t-btn"
                              type="button"
                              data-pressure="{{ pkpa }}"
                              data-tk="{{ tk }}">P (kPa) = {{ pkpa }} - T (K) = {{ tk }} - {{ count }} points</button>
                    {% endfor %}
                  </div>
                  <button class="form-control my-1 btn-outline-secondary"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#vle_exp_data"
                          aria-expanded="true"
                          aria-controls="vle_exp_data">VLE experimental data</button>
                  <div class="collapse" id="vle_exp_data">
                    {% for pkpa, count in vle_p_data_b %}
                      <button class="form-control my-1 btn-outline-primary vle-p-data-b-btn"
                              type="button"
                              data-pressure="{{ pkpa }}">P (kPa) = {{ pkpa }} - {{ count }} points</button>
                    {% endfor %}
                    {% for tk, count in vle_t_data_b %}
                      <button class="form-control my-1 btn-outline-primary vle-t-data-b-btn"
                              type="button"
                              data-tk="{{ tk }}">T (K) = {{ tk }} - {{ count }} points</button>
                    {% endfor %}
                    {% for x, count in vle_x_data_b %}
                      <button class="form-control my-1 btn-outline-primary vle-x-data-b-btn"
                              type="button"
                              data-x="{{ x }}">x1 = {{ x }} - {{ count }} points</button>
                    {% endfor %}
                    {% for pkpa, tk, count in vle_pt_data_t %}
                      <button class="form-control my-1 btn-outline-primary vle-pt-data-t-btn"
                              type="button"
                              data-pressure="{{ pkpa }}"
                              data-tk="{{ tk }}">P (kPa) = {{ pkpa }} - T (K) = {{ tk }} - {{ count }} points</button>
                    {% endfor %}
                    {% for tk, ratio, count in vle_tx_data_t %}
                      <button class="form-control my-1 btn-outline-primary vle-tx-data-t-btn"
                              type="button"
                              data-tk="{{ tk }}"
                              data-ratio="{{ ratio }}">T (K) = {{ tk }} - x2/(x2+x3) = {{ ratio }} - {{ count }} points</button>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </form>
        <div id="loadingIndicator" class="loading-indicator">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <script src={% static "js/loading.js" %}></script>
      </div>
    </div>
    <div class="row justify-content-center" id="output">
      {% if output %}
        <div class="col-lg mt-2 text-success">
          <h3 class="text-center">
            <i class="fas fa-chart-line"></i> Estimated PC-SAFT parameters
          </h3>
          <div class="table-responsive text-dark">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Mole Fractions</th>
                  {% for paraname in available_params %}
                    <th>{{ paraname }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for parameters, mole_fractions in parameters_molefractions_list %}
                  <tr>
                    <td>{{ mole_fractions }}</td>
                    {% for parameter in parameters %}
                      <td>{{ parameter }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <p class="text-dark">* Not estimated</p>
        </div>
      {% else %}
        <div class="col-lg">
          <ul>
            {% for error in form.text_area.errors %}
              <li class="alert alert-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <div class="row justify-content-center" id="output_plots">
      {% if output %}
        <script src={% static "js-minified/plotly-2.35.2.min.js" %} charset="utf-8"></script>
        <script src={% static "js/plot.js" %}></script>
        {% for data_json, xtitle, ytitle, title, id in mixture_plots %}
          <div class="col-lg-4 mt-2 ">
            <div id="{{ id }}" alt="{{ title }} plot"></div>
            <script>getplot("{{data_json|escapejs}}","{{xtitle}}","{{ytitle}}","{{title}}","{{id}}");</script>
          </div>
        {% endfor %}
        {% if ternary_lle_phase_diagram_data %}
          <div class="col-lg-4 mt-2">
            <div id="ternary_lle_phase_diagram" alt="Ternary LLE phase diagram plot">
              <script>
                var ternary_lle_phase_diagram_data = {{ ternary_lle_phase_diagram_data|safe }};
                get_ternary_lle_phase_diagram(ternary_lle_phase_diagram_data);
              </script>
            </div>
          </div>
        {% endif %}
        {% if binary_lle_phase_diagram_data %}
          <div class="col-lg-4 mt-2">
            <div id="binary_lle_phase_diagram" alt=" binary LLE phase diagram plot">
              <script>
                var binary_lle_phase_diagram_data = {{binary_lle_phase_diagram_data|safe}};
                get_binary_lle_phase_diagram(binary_lle_phase_diagram_data);
              </script>
            </div>
          </div>
        {% endif %}
        {% if vle_phase_diagram_data %}
          <div class="col-lg-4 mt-2">
            <div id="vle_phase_diagram_txy" alt="VLE phase diagram plot">
              <script>
                var vle_phase_diagram_data = {{vle_phase_diagram_data|safe}};
                get_binary_vle_phase_diagram_txy(vle_phase_diagram_data);
              </script>
            </div>
          </div>
          <div class="col-lg-4 mt-2">
            <div id="vle_phase_diagram_xy" alt="VLE phase diagram plot">
              <script>get_binary_vle_phase_diagram_xy(vle_phase_diagram_data);</script>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
