{% extends "master.html" %}
{% block title %}
  Offline Mode
{% endblock title %}
{% block content %}
  <div class="row my-2">
    <h3 class="text-center">
      Offline Mode (Try to <a class="link-dark" href={% url "pure" %}>reload</a>)
    </h3>
  </div>
  <div class="row" id="formRow">
    <form action="" method="post" id="submitQuery">
      <div class="row my-2 justify-content-md-center">
        <div class="col-md-3">
          <input type="text"
                 name="query"
                 value="CCO"
                 class="form-control"
                 required
                 id="id_query"
                 aria-label="Type/Paste InChI or SMILES">
        </div>
        <div class="col-md-3">
          <input type="submit"
                 value="Analyse SMILES/InChI"
                 class="form-control btn-outline-primary" />
        </div>
      </div>
    </form>
  </div>
  <div class="row justify-content-md-center" id="outputRow">
    <div class="col-md text-success">
      <h3 id="output"></h3>
      <h3 class="text-center">Estimated ePC-SAFT parameters</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Parameter name</th>
            <th>Parameter value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Segment number</td>
            <td id="m"></td>
          </tr>
          <tr>
            <td>Segment diameter (Å)</td>
            <td id="sigma"></td>
          </tr>
          <tr>
            <td>Dispersion energy (K)</td>
            <td id="e"></td>
          </tr>
          <tr>
            <td>Association Volume</td>
            <td id="k_ab"></td>
          </tr>
          <tr>
            <td>Association energy (K)</td>
            <td id="e_ab"></td>
          </tr>
          <tr>
            <td>Dipole moment (D)</td>
            <td id="mu"></td>
          </tr>
          <tr>
            <td>Number of association site A</td>
            <td id="na"></td>
          </tr>
          <tr>
            <td>Number of association site B</td>
            <td id="nb"></td>
          </tr>
          <tr>
            <td>InChI</td>
            <td id="inchi"></td>
          </tr>
          <tr>
            <td>SMILES</td>
            <td id="smiles"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="/static/js/queries.js"></script>
{% endblock content %}
