{% extends "master.html" %}
{% block title %}
  GNNePCSAFT
{% endblock title %}
{% block content %}
  <div class="col-md">
    <div class="row" id="queryForm">
      <form action="" method="post" id="submitQueryPred">
        {% csrf_token %}
        <div class="row my-5 justify-content-md-center">
          <div class="col-md-3">{{ form.query }}</div>
          <div class="col-md-3">
            <input type="submit"
                   value="Analyse SMILES/InChI"
                   class="form-control btn-outline-primary" />
          </div>
        </div>
      </form>
    </div>
    <div id="loadingIndicator" class="loading-indicator">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <script src='/static/js/loading.js'></script>
    <div class="row" id="results">
      {% if output %}
        <script src="static/js/plotly-2.35.2.min.js" charset="utf-8"></script>
        <script src='static/js/plot.js'></script>
        <div class="col-md-4 mt-2 text-success">
          <h3 class="text-center">Estimated ePC-SAFT parameters</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Parameter name</th>
                <th>Parameter value</th>
              </tr>
            </thead>
            <tbody>
              {% for paraname, para in predicted_para %}
                <tr>
                  <td>{{ paraname }}</td>
                  <td>{{ para }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <p class="text-dark">* Not estimated</p>
        </div>
        {% if plotden %}
          <div class="col-md-4 mt-2 ">
            <div id="den_plot" alt="Density plot"></div>
            <script>getplot("{{den_data|escapejs}}",0,"Density (mol / m³)","den_plot");</script>
          </div>
        {% endif %}
        {% if plotvp %}
          <div class="col-md-4 mt-2 ">
            <div id="vp_plot" alt="Vapor pressure plot"></div>
            <script>getplot("{{vp_data|escapejs}}",0,"Vapor pressure (kPa)","vp_plot");</script>
          </div>
        {% endif %}
      {% else %}
        <div class="col-md">
          <ul>
            {% for error in form.query.errors %}<li class="alert alert-danger">{{ error }}</li>{% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <div class="row justify-content-md-center" id="plotReference">
      {% if plotden or plotvp %}
        <div class="col-md-4">
          <small>
            <li>
              <a href="https://doi.org/10.1002/jcc.26842"
                 target="_blank"
                 class="text-decoration-none">ThermoML Archive</a>
            </li>
          </small>
        </div>
      {% endif %}
    </div>
    {% if output %}
      <div class="row my-3 mx-1 justify-content-md-center" id="3dmol">
        <div class="col-md-4 d-grid border border-dark">
          <div id="molplot" class="molplot-style"></div>
          <script src="static/js/3Dmol-min.js"></script>
          <script>
           let element = document.querySelector('#molplot');
           let config = { backgroundColor: '#f8f9fa' };
           let v = $3Dmol.createViewer( element, config );
           let data =`{{mol_data}}`;
           v.addModel( data, "sdf" );
           v.setStyle({}, {
             stick: {color: 'spectrum', radius:0.2,},
             sphere: {color: 'spectrum', scale:0.333,},
           }
           );
           v.render();
           v.zoomTo();

           function reset(){
            v.removeAllLabels();
            v.setStyle({}, {
              stick: {color: 'spectrum', radius:0.2,}, 
              sphere: {color: 'spectrum', scale:0.333,},
            });
            v.render();
           }

           function addlabel(){
            v.addPropertyLabels('atom',
            {not:{elem:'H'}}, 
            {fontColor: ' black ', 
            font: ' sans-serif ', 
            fontSize: 28, 
            showBackground:false, 
            alignment: ' center '});
            v.render();
           }

          </script>
          <div class="btn-group btn-group-sm"
               role="group"
               aria-label="Buttons for 3Dmol">
            <input class="btn btn-outline-secondary"
                   type="button"
                   value="Stick only"
                   onclick="v.setStyle({}, { stick: {color: 'spectrum',}} );v.render();">
            <input class=" btn btn-outline-secondary"
                   type="button"
                   value="Sphere only"
                   onclick="v.setStyle({}, { sphere: {color: 'spectrum',}} );v.render();">
            <input class=" btn btn-outline-secondary"
                   type="button"
                   value="Add Labels"
                   onclick="addlabel();">
          </div>
          <div class="btn-group btn-group-sm"
               role="group"
               aria-label="Buttons for 3Dmol">
            <input class="btn btn-outline-secondary"
                   type="button"
                   value="Reset"
                   onclick="reset();">
            <input class="btn btn-outline-secondary"
                   type="button"
                   value="Recenter"
                   onclick="v.zoomTo(1.2, 1000);">
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}
