{% extends "master.html" %}
{% block title %}
  GNNePCSAFT
{% endblock title %}
{% block content %}
  <div class="col-md">
    <div class="row" id="queryForm">
      <p>
        You can find
        <abbr title="International Chemical Identifier">InChI</abbr> and
        <abbr title="Simplified Molecular-Input Line-Entry System">SMILES</abbr> at
        <a href="https://pubchem.ncbi.nlm.nih.gov/" target="_blank">pubchem</a> or
        you can build your own molecule at
        <a href="https://bit.ly/DIYmol" target="_blank">DIYmol</a> and copy the SMILES
        right clicking on the 2D panel.
      </p>
      <form action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="my-1">
            <label for="id_query" class="form-label">Type/Paste InChI or SMILES:</label>
            {{ form.query }}
          </div>
          <div class="md my-1">
            <input type="submit"
                   value="Click to estimate ePC-SAFT parameters"
                   class="form-control btn-outline-primary" />
          </div>
        </div>
      </form>
    </div>
    <div class="row" id="results">
      {% if output %}
        <div class="col-md-4 mt-2 text-success">
          <h3 class="text-center">Estimated ePC-SAFT parameters</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Parameter name</th>
                <th>Parameter value</th>
              </tr>
            </thead>
            <tbody>
              {% for paraname, para in predicted_para %}
                <tr>
                  <td>{{ paraname }}</td>
                  <td>{{ para }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-4 mt-2 ">
          {% if plotden %}
            <div id="den_plot" alt="Density plot"></div>
            <script>
              var alldata =JSON.parse("{{den_data|escapejs}}");
              var trace1 = {
                x: alldata["T"],
                y: alldata["TML"],
                mode: 'markers',
                type: 'scatter',
                name : 'ThermoML Archive',
                color: 'black'

              };
              
              var trace2 = {
                x: alldata["T"],
                y: alldata["GNN"],
                mode: 'lines',
                type: 'scatter',
                name:'GNNePCSAFT',
              };
              
              var trace3 = {
                x: alldata["T"],
                y: alldata["RA"],
                mode: 'lines',
                type: 'scatter',
                name: 'Ramírez-Vélez et al. (2022)'
              };
              if (!alldata["RA"][0]){
                trace3={};
              }

              var layout = {
                legend:{
                  x: 0.3,
                  y: 1,
                  font: {size: 10},
                },
                paper_bgcolor: "#f8f9fa",
                plot_bgcolor:"#f8f9fa",
                margin:{
                  b: 50,
                  t: 50,
                  l: 50,
                  r: 20,
                },
                xaxis:{
                  title:{
                    text: "Temperature (K)"
                  }
                },
                yaxis:{
                  title:{
                    text: "Density (mol / m³)"
                  }
                },
                
              };
              
              var plot_data = [trace1, trace2, trace3];
              
              Plotly.newPlot('den_plot', plot_data, layout,{responsive: true});
            </script>
          {% endif %}
        </div>
        <div class="col-md-4 mt-2 ">
          {% if plotvp %}
            <div id="vp_plot" alt="Vapor pressure plot"></div>
            <script>
              var alldata = JSON.parse("{{vp_data|escapejs}}");
              var trace1 = {
                x: alldata["T"],
                y: alldata["TML"],
                mode: 'markers',
                type: 'scatter',
                name : 'ThermoML Archive',
                color: 'black'

              };
              
              var trace2 = {
                x: alldata["T"],
                y: alldata["GNN"],
                mode: 'lines',
                type: 'scatter',
                name:'GNNePCSAFT',
              };
              
              var trace3 = {
                x: alldata["T"],
                y: alldata["RA"],
                mode: 'lines',
                type: 'scatter',
                name: 'Ramírez-Vélez et al. (2022)'
              };
              if (!alldata["RA"][0]){
                trace3={};
              }

              var layout = {
                legend:{
                  x: 0,
                  y: 1,
                  font: {size: 10},
                },
                paper_bgcolor: "#f8f9fa",
                plot_bgcolor:"#f8f9fa",
                margin:{
                  b: 50,
                  t: 50,
                  l: 50,
                  r: 20,
                },
                xaxis:{
                  title:{
                    text: "Temperature (K)"
                  }
                },
                yaxis:{
                  title:{
                    text: "Vapor Pressure (kPa)"
                  }
                },
                
              };
              
              var plot_data = [trace1, trace2, trace3];
              
              Plotly.newPlot('vp_plot', plot_data, layout,{responsive: true});
            </script>
          {% endif %}
        </div>
      {% else %}
        <div class="col-md">
          <ul>
            {% for error in form.query.errors %}<li class="alert alert-danger">{{ error }}</li>{% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <div class="row" id="plotReference">
      {% if plotden or plotvp %}
        <div class="col-md-4 offset-md-4">
          <small>
            <li>
              <a href="https://doi.org/10.1002/jcc.26842"
                 target="_blank"
                 class="text-decoration-none">ThermoML Archive</a>
            </li>
            <li>
              <a href="https://doi.org/10.1002/aic.17722"
                 target="_blank"
                 class="text-decoration-none">Ramírez-Vélez et al. (2022)</a>
            </li>
          </small>
        </div>
      {% endif %}
    </div>
    {% if output %}
      <div class="row my-3 mx-1 justify-content-md-center" id="3dmol">
        <div class="col-md-4 border border-dark">
          <div id="molplot" style="width: 100%; height: 250px; position: relative"></div>
          <script>
           let element = document.querySelector('#molplot');
           let config = { backgroundColor: '#f8f9fa' };
           let v = $3Dmol.createViewer( element, config );
           let data =`{{mol_data}}`;
           v.addModel( data, "sdf" );
           v.setStyle({}, {
             stick: {color: 'spectrum', radius:0.1,},
             sphere: {color: 'spectrum', scale:0.333,},
           }
           );
           v.render();
           v.zoomTo();
           
          </script>
          <div class="btn-group btn-group-sm"
               role="group"
               aria-label="Buttons for 3Dmol">
            <input class="btn btn-outline-secondary"
                   type="button"
                   value="Stick only"
                   onclick="v.setStyle({}, { stick: {color: 'spectrum',}} );v.render();">
            <input class=" btn btn-outline-secondary"
                   type="button"
                   value="Sphere only"
                   onclick="v.setStyle({}, { sphere: {color: 'spectrum',}} );v.render();">
            <input class=" btn btn-outline-secondary"
                   type="button"
                   value="Add Labels"
                   onclick="v.addPropertyLabels('atom',{}, {fontColor: ' black ', font: ' sans-serif ', fontSize: 28, showBackground:false, alignment: ' center '});v.render(); ">
          </div>
          <div class="btn-group btn-group-sm"
               role="group"
               aria-label="Buttons for 3Dmol">
            <input class="btn btn-outline-secondary"
                   type="button"
                   value="Reset"
                   onclick="v.removeAllLabels();v.setStyle({}, {stick: {color: 'spectrum', radius:0.1,}, sphere: {color: 'spectrum', scale:0.333,},}) ;v.render();">
            <input class="btn btn-outline-secondary"
                   type="button"
                   value="Recenter"
                   onclick="v.zoomTo(1.2, 1000);">
          </div>
        </div>
      </div>
      <div class="row my-3" id="AIDescription">
        <div class="col-sm align-items-center d-flex justify-content-center">
          <a href="{% url "description" %}"
             target="_blank"
             class="btn btn-outline-secondary text-dark"
             type="button">Click for AI generated molecule description</a>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}
