{% extends "master.html" %}
{% block title %}
  GNNePCSAFT
{% endblock title %}
{% block content %}
  <div class="col-lg">
    <div class="row" id="queryForm">
      <form action="" method="post" id="submitQueryPred">
        {% csrf_token %}
        <div class="row my-5 justify-content-center">
          <div class="col-md-3 my-1">{{ form.query }}</div>
          <div class="col-md-3 my-1">
            <input type="submit"
                   value="Analyse SMILES/InChI"
                   class="form-control btn-outline-primary" />
            <button class="form-control my-1 btn-outline-secondary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#AdvancedOptions"
                    aria-expanded="false"
                    aria-controls="AdvancedOptions">Advanced Options</button>
            <div class="collapse" id="AdvancedOptions">
              {% for checkbox in plot_checkboxes %}<div class="form-check form-switch">{{ checkbox }}</div>{% endfor %}
              <div class="form-control my-1">{{ plot_config }}</div>
            </div>
          </div>
        </div>
      </form>
      <div id="loadingIndicator" class="loading-indicator">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <script src='/static/js/loading.js'></script>
    </div>
    <div class="row justify-content-center" id="results">
      {% if output %}
        <script src="static/js/plotly-2.35.2.min.js" charset="utf-8"></script>
        <script src='static/js/plot.js'></script>
        <div class="col-lg-4 mt-2 text-success">
          <h3 class="text-center">Estimated ePC-SAFT parameters</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Parameter name</th>
                <th>Parameter value</th>
              </tr>
            </thead>
            <tbody>
              {% for paraname, para in predicted_para %}
                <tr>
                  <td>{{ paraname }}</td>
                  <td>{{ para }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <p class="text-dark">* Not estimated</p>
          {% if plotden or plotvp %}
            <p>
              **
              <a href="https://doi.org/10.1002/jcc.26842"
                 target="_blank"
                 class="text-decoration-none">ThermoML Archive</a>
            </p>
          {% endif %}
        </div>
        {% if plotden %}
          <div class="col-lg-4 mt-2 ">
            <div id="den_plot" alt="Density plot"></div>
            <script>getplot("{{den_data|escapejs}}",0,"Density (mol / m³)","den_plot");</script>
          </div>
        {% endif %}
        {% if plotvp %}
          <div class="col-lg-4 mt-2 ">
            <div id="vp_plot" alt="Vapor pressure plot"></div>
            <script>getplot("{{vp_data|escapejs}}",0,"Vapor pressure (kPa)","vp_plot");</script>
          </div>
        {% endif %}
        {% for dataname, xlegendpos, ytitle, id in custom_plots %}
          <div class="col-lg-4 mt-2 ">
            <div id="{{ id }}_2" alt="{{ ytitle }}"></div>
            <script>getplot("{{dataname|escapejs}}","{{xlegendpos}}","{{ytitle}}","{{id}}_2");</script>
          </div>
        {% endfor %}
        {% if phase_diagrams %}
          <div class="col-lg-4 mt-2 ">
            <div id="t_rho_diagram" alt="T-rho diagram"></div>
          </div>
          <div class="col-lg-4 mt-2 ">
            <div id="p_rho_diagram" alt="P-rho diagram"></div>
          </div>
          <script>
            var phase_diagram_data = {{ phase_diagrams }};
            get_phase_diagram(phase_diagram_data, 0, "Temperature (K)", 0, "t_rho_diagram");
            get_phase_diagram(phase_diagram_data, 0, "Pressure (Pa)", 1, "p_rho_diagram");
          </script>
        {% endif %}
      {% else %}
        <div class="col-lg">
          <ul>
            {% for error in form.query.errors %}<li class="alert alert-danger">{{ error }}</li>{% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    {% if output %}
      <div class="row my-3 mx-1 justify-content-center" id="3dmol">
        <div class="col-lg-6 d-grid border border-dark">
          <div id="molplot" class="molplot-style"></div>
          <script src="static/js/3Dmol-min.js"></script>
          <script src="static/js/plotmol.js"></script>
          <script>loadmol(`{{mol_data}}`);</script>
          <div class="btn-group btn-group-sm"
               role="group"
               aria-label="Buttons for 3Dmol">
            <input class="btn btn-outline-secondary"
                   type="button"
                   value="Stick only"
                   onclick="v.setStyle({}, { stick: {color: 'spectrum',}} );v.render();">
            <input class=" btn btn-outline-secondary"
                   type="button"
                   value="Sphere only"
                   onclick="v.setStyle({}, { sphere: {color: 'spectrum',}} );v.render();">
            <input class=" btn btn-outline-secondary"
                   type="button"
                   value="Add Labels"
                   onclick="addlabel();">
          </div>
          <div class="btn-group btn-group-sm"
               role="group"
               aria-label="Buttons for 3Dmol">
            <input class="btn btn-outline-secondary"
                   type="button"
                   value="Reset"
                   onclick="reset();">
            <input class="btn btn-outline-secondary"
                   type="button"
                   value="Recenter"
                   onclick="v.zoomTo(1.2, 1000);">
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}
