absl_py
Cython
Django
dvc-gs
google-generativeai
markdown
matplotlib
ml_collections
numpy
ogb
polars
psycopg2-binary
python-dotenv
rdkit
scipy
seaborn
django-debug-toolbar
django-bootstrap-v5
django-pwa
whitenoise
gunicorn
--extra-index-url https://download.pytorch.org/whl/cpu/
torch
torch_geometric
torchmetrics
lightning
fontawesomefree
https://github.com/wildsonbbl/gnnepcsaft/archive/refs/heads/main.zip
pillow
langchain
langchain-google-genai
langchain-community
unstructured
jq