Django
numpy
psycopg2-binary
python-decouple
rdkit
polars=1.27.1
django-debug-toolbar
django-bootstrap-v5
whitenoise
gunicorn
fontawesomefree
gnnepcsaft>=0.2.4
gnnepcsaft-mcp-server
jq
#teqp
#PCSAFTsuperanc
feos
si-units
onnxruntime
channels
daphne