Django
numpy
psycopg2-binary
python-decouple
rdkit
polars==1.27.1
django-bootstrap-v5
whitenoise
gunicorn
fontawesomefree
gnnepcsaft>=0.3
gnnepcsaft-mcp-server>=0.4
jq
feos
si-units
onnxruntime
channels
daphne
djlint
pylint
pylint-django
pyinstaller