name: Deploy to Docker Hub

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          lfs: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to docker hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Build, tag, and push image to docker hub
        run: |
          docker buildx build --push \
            --tag wildsonbbl/gnnpcsaftwebapp:latest \
            --platform linux/amd64 .
