name: PyInstaller check test

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Unit Tests"]
    branches: [main]
    types:
      - completed

jobs:
  check:
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    strategy:
      matrix:
        runs-on: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.runs-on }}
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          lfs: true
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"
          activate-environment: true
      - name: Install dependencies
        run: uv pip install -r requirements.txt
      - name: Package Web App with PyInstaller
        run: |
          python manage.py collectstatic --no-input
          python manage.py migrate --no-input
          pyinstaller --distpath ./app_pkg/dist --workpath ./app_pkg/build --noconfirm --clean gnnpcsaftwebapp.spec
      - name: Check pyinstaller file
        run: ./app_pkg/dist/gnnpcsaftwebapp/gnnpcsaftwebapp* check
      - name: Check files
        run: ls -l ./app_pkg/dist/gnnpcsaftwebapp
